:root {
    --OFF-WHITE: #f7f7ff;
    --OFF-BLACK: #2a2b2e;
    --BLUE: #4463ee;
    --GOLD: #FFC533;
}

body {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: var(--OFF-WHITE);
    color: var(--OFF-BLACK);
}

header {
    margin-bottom: 50px;
}

h3 {
    color: var(--BLUE);
    padding-bottom: 5px;
    border-bottom: 2px solid var(--GOLD);
    width: fit-content;
}

.card {
    background-color: var(--OFF-WHITE);
    border: none;
    overflow: hidden;
}

.card-img-overlay {
    height: fit-content;
    margin: auto;
    text-align: center;
    background-color: rgba(68, 99, 238, 0.75);
}

.card-img-overlay .btn {
    width: fit-content;
    background: none;
    color: var(--OFF-WHITE);
    border: 1px solid var(--OFF-WHITE);
    outline: none;
    font-weight: 600;
}

.card-img-overlay .btn:hover,
.card-img-overlay .btn:active {
    color: var(--OFF-BLACK);
    background-color: var(--GOLD);
    border: 1px solid var(--GOLD);
}

.card-title {
    color: var(--OFF-WHITE);
    border-bottom: 2px solid var(--GOLD);
    width: fit-content;
}

nav {
    padding: 20px 40px !important;
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--OFF-BLACK);
}

.navbar-brand:hover {
    color: var(--BLUE)
}

nav .container-fluid {
    padding: 0;
}

.nav-item {
    background-color: var(--OFF-WHITE);
    text-align: center;
}

.nav-item a {
    color: var(--BLUE) !important;
}

.nav-item a:hover {
    color: var(--OFF-WHITE) !important;
    background-color: var(--BLUE);
}

.section-heading {
    margin-bottom: 2rem;
}

.section-heading h3 {
    margin: auto;
}

.testimonies {
    margin-top: 100px;
    margin-bottom: 100px;
}

.client-testimony {
    margin-bottom: 2rem;
}

.testimony-msg p {
    margin-bottom: 0;
}

footer {
    padding: 40px;
}

.portfolio-image {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.services-image-wrapper {
    width: 33%;
    height: 300px;
    overflow: hidden;
}

.services-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-image:hover {
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}

.services-image a {
    color: white;
    font-size: 1.6rem;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-decoration: none;
    transition: background-color .3s ease-in-out;
}

.services-image a:hover {
    background-color: rgba(68,99,238,.6);
}

.image-caption {
    margin-top: 1rem;
}

.container .row.portfolio-pieces {
    margin-top: 50px;
}

/* 
    Background images
*/
#header-img {
    background-image: url(images/header_modern_house.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    background-color: var(--BLUE);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-img h1 {
    color: white;
    margin-bottom: 0;
}

#modern-house-3 {
    background-image: url('images/modern_house_3.jpg');
}

#modern-house {
    background-image: url('images/modern_house.jpg');
}

#modern-house-4 {
    background-image: url('images/modern_house_4.jpg');
}

#modern-house-5 {
    background-image: url('images/modern_house_5.jpg');
}

#modern-house-6 {
    background-image: url('images/modern_house_6.jpg');
}

#house-interior {
    background-image: url('images/house_interior.jpg');
}

#house-interior-2 {
    background-image: url('images/house_interior_2.jpg');
}

#house-interior-3 {
    background-image: url('images/house_interior_3.jpg');
}

#house-interior-4 {
    background-image: url('images/house_interior_4.jpg');
}

#social-icons {
    justify-content: flex-end;
    margin-right: -35px;
}

#social-links img {
    width: 30px;
}

@media (max-width: 991px) {
    .testimony-msg {
        text-align: center;
        padding-top: .5rem;
    }
}